.array-container {
  display: flex;
  align-items: flex-end;
}

.array-bar {
  width: 20px;
  margin: 0 2px;
  background-color: #69b3a2;
}

.active-bar {
  background-color: #ff6347;
}

.found-bar {
  background-color: #32cd32;
}
