<nav class="bg-gray-800 p-4">
  <ul class="flex space-x-4">
    <li>
      <a
        routerLink="/bubble-sort-visualizer"
        class="text-white hover:text-yellow-300 transition-colors duration-300 cursor-pointer"
      >
        BubbleSort
      </a>
    </li>
    <li>
      <a
        routerLink="/insertion-sort-visualizer"
        class="text-white hover:text-yellow-300 transition-colors duration-300 cursor-pointer"
      >
        InsertionSort
      </a>
    </li>
    <li>
      <a
        routerLink="/select-sort-visualizer"
        class="text-white hover:text-yellow-300 transition-colors duration-300 cursor-pointer"
      >
        SelectSort
      </a>
    </li>
  </ul>
</nav>
